<%- include('layouts/header') %>
<%- include('layouts/nav') %>

<table class="table table-hover mt-3">
    <thead>
        <th colspan="6" style="font-size: 1.2vmax;"><strong>JADWAL PIKET</strong></th>
        <tr>
            <th class="col-md-1">Senin</th>
            <th class="col-md-1">Selasa</th>
            <th class="col-md-1">Rabu</th>
            <th class="col-md-1">Kamis</th>
            <th class="col-md-1">Jum'at</th>
            <th class="col-md-1">Sabtu</th>
        </tr>
    </thead>
    <tbody>
<% 
        jadwalPkt.forEach((dataku, i) => { %>
            <tr data-jabatan="<%= dataku %>">
                <td>
                    <%= dataku['SENIN'] %>
                </td>
                <td>
                    <%= dataku['SELASA'] %>
                </td>
                <td>
                    <%= dataku['RABU'] %>
                </td>
                <td>
                    <%= dataku['KAMIS'] %>
                </td>
                <td>
                    <%= dataku["JUM'AT"] %>
                </td>
                <td>
                    <%= dataku["SABTU"] %>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
<div class="notes">
    <p>> Absen pagi max 08.00 Wib<br>> Absen malam max 20.00 Wib<br>> Tidak hadir dikenakan sanksi</p>
</div>

<%- include('layouts/footer') %>

<script>
    $(document).ready(function () {
        // Tangkap perubahan saat pengguna memilih jabatan dari dropdown
        $('.dropdown-item').click(function (e) {
            e.preventDefault();
            var selectedJabatan1 = $(this).data('jabatan');
            // Setel teks pada tombol dropdown sesuai dengan desa yang dipilih
            $('#selectedDesa').text(selectedJabatan1 === "Semua" ? "Filter" : selectedJabatan1);
            // Tampilkan baris-baris yang memiliki jabatan yang sesuai dengan yang dipilih
            $('tbody tr').each(function () {
                var selectedJabatan = `Panwaslu Desa ${selectedJabatan1}`
                var jabatan = $(this).data('jabatan');
                if (jabatan === selectedJabatan || selectedJabatan1 === "Semua") {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>
