<%- include('layouts/header') %>
<%- include('layouts/nav') %>

<table class="table table-hover mt-3">
    <thead>
        <th colspan="2">
            <div class="btn-group">
                <button id="filterDesaBtn" class="btn dropdown-toggle btn-sm me-2" style="background-color: #FFE4A7; font-size: 1.2vmax;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-funnel"></i> <span id="selectedDesa">Filter</span>
                </button>
                <div class="dropdown-menu" style="font-size: 1.2vmax;">
                    <a class="dropdown-item" href="#" data-jabatan="Semua">Semua</a>
                    <% dataPkd.forEach((listPkd, i) => { %>
                    <a class="dropdown-item" href="#" data-jabatan="<%= listPkd['DESA'] %>"><%= listPkd['DESA'] %></a>
                    <% }) %>
                </div>
            </div>
        </th>
        <th colspan="3" style="font-size: 1.2vmax;"><strong>LAPORAN HASIL PENGAWASAN</strong></th>
        <tr>
            <th class="col-md-1">Dibuat</th>
            <th class="col-md-1">Nomor LHP</th>
            <th class="col-md-1">Tahapan</th>
            <th class="col-md-1">Pelaksana</th>
            <th class="col-md-1">Detail</th>
        </tr>
    </thead>
    <tbody>
<% 
        dataLHP.pop();
        // Balikkan array dataUser
        dataLHP.reverse();
        dataLHP.forEach((dataku, i) => { %>
            <tr data-jabatan="<%= dataku.Jabatan %>">
                <td>
                    <%= dataku.Timestamp.split("T")[0] %>
                </td>
                <td>
                    <%= dataku['Nomor LHP'] %>
                </td>
                <td>
                    <%= dataku['Tahapan Yang Diawasi'] %>
                </td>
                <td>
                    <%= dataku['Pelaksana Tugas'] %>
                </td>
                <td>
                    <a href="/detail/<%= dataku['ID'] %>" class="btn btn-sm me-2" style="background-color: #FFE4A7; font-size: 1.2vmax;"><i class="bi bi-eye-fill"></i></a>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>

<%- include('layouts/footer') %>

<script>
    $(document).ready(function () {
        // Tangkap perubahan saat pengguna memilih jabatan dari dropdown
        $('.dropdown-item').click(function (e) {
            e.preventDefault();
            var selectedJabatan1 = $(this).data('jabatan');
            // Setel teks pada tombol dropdown sesuai dengan desa yang dipilih
            $('#selectedDesa').text(selectedJabatan1 === "Semua" ? "Filter Desa" : selectedJabatan1);
            // Tampilkan baris-baris yang memiliki jabatan yang sesuai dengan yang dipilih
            $('tbody tr').each(function () {
                var selectedJabatan = `Panwaslu Desa ${selectedJabatan1}`
                var jabatan = $(this).data('jabatan');
                if (jabatan === selectedJabatan || selectedJabatan1 === "Semua") {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>
